<% unless @user.errors.blank? %>
<p>Você deve informar todos os dados do usuário!</p>
<% end %>

<div class="ls-form ls-form-horizontal row">
<%= form_for @user do |f| %>
<fieldset>
<label class="ls-label col-md-4 col-xs-12">
  <b class="ls-label-text"><%= f.label :name, 'Nome' %></b>
  <%= f.text_field :name %>
</label>

<label class="ls-label col-md-4 col-xs-12">
  <b class="ls-label-text"><%= f.label :email, 'E-mail' %></b>
  <%= f.text_field :email %>
  </label>

  <label class="ls-label col-md-4 col-xs-12">
  <b class="ls-label-text"><%= f.label :cpf, 'CPF' %></b>
  <%= f.text_field :cpf %>
  </label>
</fieldset>

<div class="ls-actions-btn">
  <%= f.submit 'Cadastrar', class: "ls-btn" %>
</div>
<% end %>
</div>