<table class="ls-table">
    <thead>
    <tr>
    <th>Nome</th>
    <th>E-mail</th>
    <th>CPF</th>
    <th>Endereço</th>
    </tr>
    </thead>

<tbody>
<tr>
<td><%= @user.name %></td>
<td><%= @user.email %></td>
<td><%= @user.cpf %></td>
<% if @user.address == nil %>
<td>Este usuário não tem um endereço cadastrado</td>
<% else %>
<td><%= @user.address.street %>
<%= @user.address.neighbourhood %>
<%= "#{@user.address.city} - #{@user.address.state}" %>
<%= @user.address.postal_code %></td>
<% end %>
</tbody>
</table>

<div class="ls-actions-btn">
<%= link_to 'Voltar', root_path, class: "ls-btn" %>
<%= link_to 'Editar', edit_user_path, class: "ls-btn" %>
</div>