<% flash.each do |name, message| %>
<p><%= message %></p>
<% end %>

<div class="ls-box-filter">
    <form action="" class="ls-form ls-form-inline ls-float-left">
        <label class="ls-label col-md-8 col-sm-8">
            <%= form_tag "/", method: "get" do  %>

            <b class="ls-label-text"><%= label_tag :currency, 'Filtro por moeda' %></b>

            <div class="ls-custom-select">
                <%= select_tag(:currency, options_for_select([ ['Dólar', 'dollar'], ['Real', 'real'] ]), class:"ls-select") %>
            </div>
        </label>

        <div class="ls-actions-btn ls-float-right">
            <%= submit_tag 'Filtrar', class: 'ls-btn' %>
         </div>

    </form>
</div>

<%  if @transactions.empty? %>
     <div class="ls-alert-info"><p>Você ainda não possui transações cadastradas.</p></div>
    <% else %>

    <table class="ls-table">
    <thead>
        <tr>
        <th>Identificador</th>
        <th class="hidden-xs">Quantidade</th>
        <th>Moeda</th>
        <th class="hidden-xs">Tipo</th>
        <th>Total</th>
        </tr>
    </thead>

    <tbody>
        <% @transactions.each do |transaction| %>
        <tr>
            <td><%= link_to transaction.id, transaction %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.currency_to_ptbr %></td>
            <td><%= transaction.transaction_type_to_ptbr %></td>
            <td><%= transaction.show_total_in_dollars %></ul></td>
        </tr>
        <% end %>
    </tbody>

    <tfoot>
    <tr>
    <td>Total agregado</td>
    <td><%= "$ #{format('%.2f', @sum)}" %></td>
    </tr>
    </tfoot>
    
<% end %>

<% end %>
