<h1>Todas as transações</h1>

<%  if @transactions.empty? %>
     <div class="ls-alert-info"><p>Você ainda não possui transações cadastradas.</p></div>
    <% else %>
    <table class="ls-table">
    <thead>
        <tr>
        <th>Identificador</th>
        <th class="hidden-xs">Quantidade</th>
        <th>Moeda</th>
        <th class="hidden-xs">Tipo</th>
        <th>Total</th>
        </tr>
    </thead>

    <tbody>
        <% @transactions.each do |transaction| %>
            <tr>
                <td><%= link_to transaction.id, transaction %></td>
                <td><%= transaction.amount %></td>
                <td><%= transaction.currency_to_ptbr %></td>
                <td><%= transaction.transaction_type_to_ptbr %></td>
                <td><%= transaction.show_total_in_dollars %></ul></td>
            </tr>
        <% end %>
    </tbody>
    <% end %>
