<h1>Todas as transações</h1>

<%  if @transactions.empty? %>
     <p>Você ainda não possui transações cadastradas.</p>
    <% else %>
    <% @transactions.each do |transaction| %>
    <ul><li>Identificador</li>
    <%= link_to transaction.id, transaction %><br>
    <li>Quantidade</li>
    <%= transaction.amount %><br>
    <li>Moeda</li>
    <%= transaction.currency_to_ptbr %><br>
    <li>Tipo</li>
    <%= transaction.transaction_type_to_ptbr %><br>
    <li>Total</li>
    <%= transaction.show_total_in_dollars %>
    </ul>
    <% end %>
<% end %>