#unless = if not (if !@transaction.errors.blank?)
<% unless @transaction.errors.blank? %>
<p>Você deve informar todos os dados da transação!</p>
<% end %>

<%= form_for @transaction do |f| %>
  <%= f.label :amount, 'Quantidade' %>
  <%= f.text_field :amount %>
  <%= f.label :currency, 'Moeda' %>
  <%= f.select(:currency, options_for_select([ ['Dólar', 'dollar'], ['Real', 'real'] ])) %>
  <%= f.label :quotation, 'Cotação' %>
  <%= f.text_field :quotation %>
  <%= f.label :transaction_type, 'Tipo' %>
  <%= f.select(:transaction_type, options_for_select([ ['Compra', 'buy'], ['Venda', 'sell'] ])) %>

  <%= f.submit 'Cadastrar' %>
<% end %>