<table class="ls-table">
    <thead>
    <tr>
    <th>Identificador</th>
    <th>Usuário</th>
    <th>Quantidade</th>
    <th>Moeda</th>
    <th>Cotação</th>
    <th>Tipo</th>
    <th>Data</th>
    <th>Total</th>
    </tr>
    </thead>

    <tbody>
    <tr>
    <td><%= @transaction.id %></td>
    <td><%= @transaction.user.email %></td>
    <td><%= @transaction.amount %></td>
    <td><%= @transaction.currency_to_ptbr %></td>
    <td><%= "$ #{@transaction.quotation}" %></td>
    <td><%= @transaction.transaction_type_to_ptbr %></td>
    <td><%= @transaction.created_at.strftime('%d/%m/%Y') %></td>
    <td><%= @transaction.show_total_in_dollars %></td>
    </tr>
    </tbody>
</table>

<div class="ls-actions-btn">
<%= link_to 'Editar', edit_transaction_path, class: 'ls-btn' %>
<%= link_to 'Apagar', transaction_path, method: :delete, class: 'ls-btn' %>
<%= link_to 'Voltar', root_path, class: 'ls-btn' %>
</div>